
      <!--/.nav-collapse -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/danxfwhmp/image/upload/v1579794991/sporty_klat0k.png" />

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
       <div>
        <ul class="nav-link">
          <% if user_signed_in? %>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
            <% else %>
        <ul class="nav">
          <li><%= link_to "S'inscrire", new_user_session_path, class:"btn-green" %></li>
          <li><%= link_to "Se Connecter", new_user_registration_path, class:"btn-blue" %></li>
        </ul>

          <% end %>
  </div>

      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
