
    <section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div style="background-image:url(https://cdn1.theinertia.com/wp-content/uploads/2018/04/laurie-towner.jpg)" class="swiper-slide"></div>
        </div>
      </div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-left">
              <p class="font-weight-bold"> </p>
              <h1 class="display-3 font-weight-bold text-shadow">La location de matériel de sport </h1>
               <h1 class="h6 text-shadow"> Pour tous, partout et de façon accessible </h1>
            </div>
            <!-- <div class="search-bar"> -->
              <form action="#">
                <div class="row search-bar">
                  <div class="col-lg-3 d-flex align-items-center form-group">
                    <input type="text" name="search" placeholder="Equipement" class="form-control border-0 shadow-0">
                  </div>
                  <div class="col-lg-2 d-flex align-items-center form-group">
                    <div class="input-label-absolute input-label-absolute-right w-100">
                      <label for="location" class="label-absolute"><i class="fa fa-crosshairs"></i><span class="sr-only"> Ville </span></label>
                      <input type="text" name="location" placeholder="Location" id="location" class="form-control border-0 shadow-0">
                    </div>
                  </div>
                  <div class="col-lg-2 d-flex align-items-center form-group no-divider">
                    <select title="Sport" data-style="btn-form-control" class="selectpicker">
                      <option value="small">Surf</option>
                      <option value="medium">Snow</option>
                      <option value="large">Skate</option>
                      <option value="x-large">Vélo</option>
                      <option value="x-large">Equitation</option>
                    </select>
                  </div>
                  <div class="col-lg-2 d-flex align-items-center form-group no-divider">
                    <select title="Âge" data-style="btn-form-control" class="selectpicker">
                      <option value="small">3 à 7 ans</option>
                      <option value="medium">7 à 10 ans</option>
                      <option value="large">10 à 13 ans</option>
                      <option value="x-large">13 à 16 ans</option>
                      <option value="x-large">16 à 18 ans</option>
                    </select>
                  </div>
                  <!-- <div class="col-lg-3"> -->
                    <%= link_to "Recherche", equipments_path, class:"btn btn-pink rounded-xl h-100 col-lg-3" %>
                  <!-- </div> -->
                </div>
              </form>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="py-6 bg-gray-100">
      <div class="container">
        <div class="text-center pb-lg-4">
          <p class="subtitle text-secondary"> Une façon économique de s'initier à de nouveaux sports </p>
          <h2 class="mb-5">Réservation rapide </h2>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#destination-map-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Trouve le matériel adapté</h3>
              <p class="text-muted">Un jour tu t'es réveillé en te disant que tu voulais tester le Chessboxing. Trouve tes gants de boxes et ton jeu d'échec sur Sporty. Promis on ne te jugera pas ! </p>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#pay-by-card-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Réserve ton matériel en toute confiance</h3>
              <p class="text-muted"> Tes coordonnées personnelles et bancaires sont protégées. Le paiement est sécurisé. Le matériel de qualité. Tu peux y aller tout Shuss !</p>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#heart-1"> </use>
                </svg>
              </div>
              <h3 class="h5"> Une communauté de passionnés </h3>
              <p class="text-muted"> Sur Sporty, tu trouveras du matériel de qualité proposé par des gens passionnés. C'est l'occasion d'échanger avec des experts dans leur domaine </p>
            </div>
          </div>
        </div>
      </div>
    </section>

          <!-- If we need pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section class="py-7 position-relative dark-overlay"><img src="https://www.liveabout.com/thmb/BjbE9HKof52xsDboTauLcFPkq8c=/2123x1412/filters:fill(auto,1)/kidskating-58e13ad55f9b58ef7e3d754d.jpg" alt="" class="bg-image">
      <div class="container">
        <div class="overlay-content text-white py-lg-5">
          <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5"> Prêt pour tes prochaines aventures sportives ? </h3><a href="category-rooms.html" class="btn btn-light"> J'y fonce Alphonse ! </a>
        </div>
      </div>
    </section>
    <section class="py-3">
      <div class="container">
        <div class="text-center">
          <p class="subtitle text-primary">Avis clients</p>
          <h2 class="mb-5">Ils ont testé sporty</h2>
        </div>
        <!-- Slider main container-->
        <div class="swiper-container testimonials-slider testimonials">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pt-2 pb-5">
            <!-- Slides-->
            <div class="swiper-slide px-3">
              <div class="testimonial card rounded-lg shadow border-0">
                <div class="testimonial-avatar"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/avatar/avatar-3.jpg" alt="..." class="img-fluid"></div>
                <div class="text">
                  <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                  <p class="testimonial-text">J'ai loué du matériel d'équitation sur Sporty pour ma fille Jessica car du jour au lendemain, elle voulait faire du poney comme toutes ses copines. Investir 1.000€ de matériel dès le 1er cours, c'était No Way ! Grâce à Sporty, j'ai loué le matériel nécessaire pour que ma fille puisse tester. Heureusement elle n'a pas aimé et maintenant elle pratique le krav maga, c'est quand même plus stylé ! </p><strong>Jessica Watson</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"> </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="position-relative z-index-10 d-print-none">
      <!-- Main block - menus, subscribe form-->
      <div class="py-6 bg-gray-200 text-muted">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="font-weight-bold text-uppercase text-dark mb-3"> A Propos</div>
              <p>Sporty, c'est LE bon plan pour louer des articles de sport auprès de particuliers et de professionnels. Créée en 2019, cette plateforme permet de louer ou de mettre en location tout type de matériel et accessoire sportif. Du vélo au surf en passant par le paddle vous pouvez tous louer avec SPORTY.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-vimeo"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3"> Location </h6>
              <ul class="list-unstyled">
                <li><a href="index.html" class="text-muted"> Les annonces     </a></li>
                <li><a href="category-rooms.html" class="text-muted"> CGV     </a></li>
                <li><a href="category-2-rooms.html" class="text-muted"> Plan du site    </a></li>

              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3">Les Pages</h6>
              <ul class="list-unstyled">
                <li><a href="compare.html" class="text-muted"> Page 1  <span class="badge badge-info-light ml-1">New</span>                                   </a></li>
                <li><a href="team.html" class="text-muted">Page 2  <span class="badge badge-info-light ml-1">New</span>                                   </a></li>
                <li><a href="Aide.html" class="text-muted"> Page 3                                 </a></li>
                <li><a href="pricing.html" class="text-muted"> Page 4                                  </a></li>
                <li><a href="text.html" class="text-muted">Page 5                                      </a></li>
                <li><a href="faq.html" class="text-muted">Page 6                                       </a></li>
                <li><a href="coming-soon.html" class="text-muted">Page 7                                      </a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h6 class="text-uppercase text-dark mb-3"> BALANCE TON EMAIL </h6>
              <p class="mb-3"> On a fait un footer car c'est important pour le référencement des pages sur google</p>
              <form action="#" id="newsletter-form">
                <div class="input-group mb-3">
                  <input type="email" placeholder="Balance ton mail" aria-label="Your Email Address" class="form-control bg-transparent border-dark border-right-0">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-dark border-left-0"> <i class="fa fa-paper-plane text-lg"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright section of the footer-->
      <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
              <p class="text-sm mb-md-0">&copy; 2020 Sporty.</p>
            </div>
            <div class="col-md-6">
              <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
                <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/visa.svg" alt="..." class="w-2rem"></li>
                <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/mastercard.svg" alt="..." class="w-2rem"></li>
                <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/paypal.svg" alt="..." class="w-2rem"></li>
                <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-4/img/western-union.svg" alt="..." class="w-2rem"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('icons/orion-svg-sprite.69651a96.svg');
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

    </script>
    <!-- jQuery-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/object-fit-images/ofi.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/directory/1-4/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="js/demo.36f8799a.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.55f8348b.js"></script>
  </body>
</html>
